<footer class="footer bg-dark py-2 mt-auto">
    <div class="container text-center">
        <span class="text-muted">&copy; YelpCamp 2022</span><br>
        <span class="text-muted">Created by Paul Garewal</span>
    </div>
</footer>